.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
}


.header{
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(224, 160, 250, 0.527);
    

}